#! /usr/bin/env python3
# Mode: -*- python -*-

import argparse
import logging
import sys

def main(args):
    pass

if __name__ == "__main__":
    parser = argparse.ArgumentParser(description='xxx args parsing')
    parser.add_argument('--verbose',
                        action='store_true',
                        help='Verbose output.')
    args = parser.parse_args()

    sys.exit(main(args))
